extends: default

rules:
  truthy:
    check-keys: false
  line-length:
    max: 200
    level: warning
  document-start: disable
  comments-indentation: disable
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore: |
  ESTool/
  game_files/
  .git/
